.container {
    margin: 50px 0;
}

.card {
    margin: 0 2%  !important ;

}

.infected {
    border-bottom: 10px solid rgb(118, 118, 201);
}
.recovered {
    border-bottom: 10px solid rgb(112, 221, 112);
}
.deaths {
    border-bottom: 10px solid rgb(209, 83, 83);
}